.Header__title{
  text-align: center;
}

.Article__list-item-parent{
  text-align: center;
  padding: 0 auto;
}

.Article__list-item-card {
  list-style: none;
}

@media (max-width: 600px){
  .Article__list-item-card {
    text-align: center;
  }
  ul{
    padding: 0;
  }

}






